@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html {
  @media screen and (max-width: 63.99875em) {
    font-size: 0.9375rem;
  }

  @media screen and (max-width: 32.49875em) {
    font-size: 0.84375rem;
  }
}

* {
  scrollbar-color: unset !important;

  &:hover {
    scrollbar-color: unset !important;
  }
}

body,
body * {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: #fff;
    border-radius: 25px;
  }
}
